/.vs 
/simplegame/x64 
*.exe 
*.ilk 
*.pdb 
*.obj 
*.log 
*.pch 
*.idb 
*.tlog 
*.lastbuildstate 
*.suo 
*.db 

# Shader copies generated in build output directories
/Debug/Shaders/
/Release/Shaders/
/x64/Debug/Shaders/
/x64/Release/Shaders/

